strict-peer-dependencies=true
prefer-workspace-packages=true
save-workspace-protocol=true
auto-install-peers=false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*vitest*